.content {
  color: #393939;
}

body h1 {
  font-size: 22px;
  display: block;
  text-align: center;
  padding: 20px;
  font-weight: 700;
}

.original {
  color: #6E6E6E;
}

table  {
  margin: auto;
}

.puzzle-index {
  margin: auto;
  display: block;
  text-align: center;
  padding: 20px;
  font-weight: 700;
}

.puzzle-index a {
  float: left;
  padding: 0 20px;
  display: inline-block;
}

.puzzle-index:nth-child(2n) {
  background: #FF9900;
}

.puzzle-index:nth-child(2n + 1) {
  background: #FF5A09;
}

.instructions {
  width: 500px;
  margin: auto;
  padding: 10px;
  display: block;
  text-align: center;
}

.selectors {
  background: blue;
  width: 378px;
  margin: auto;
  border: 1px solid black;
  margin-top: 20px;
}

.selectors li {
  background: yellow;
  float: left;
  width: 10px;
  height: 18px;
  border: 1px solid black;
  text-align:center;
  padding: 11px 15px;
  font-weight: bold;
}

.highlight {
  background: #ADD8E6;
}
