<form class="puzzle">
  <% for (i = 0; i < 9; i++) { %>
    <ul class="row group" data-row=<%= i%>>
    <% for (j = 0; j < 9; j++) { %>
      <li class="square" data-column=<%= j %> ><p><input type="text"></p></li>
    <% } %>
    </ul>
  <% } %>
  <button>Create</button>
</form>
