<form class="puzzle">

  <% for (i = 0; i < 9; i++) { %>
    <ul class="row group" data-row=<%= i%>>

    <% for (j = 0; j < 9; j++) { %>
      <li class="square
      <% if (puzzle.get(board)[i * 9 + j] ===
        puzzle.get("original")[i * 9 + j] &&
        puzzle.get(board)[i * 9 + j] != 0
      ) { %>
      original
      <% } %>"
      data-column=<%= j %> >
        <% if (puzzle.get(board)[i * 9 + j] != 0) { %>
          <p><%= puzzle.get(board)[i * 9 + j] %></p>
        <% } %>
      </li>
    <% } %>

    </ul>
  <% } %>

  <button>Save</button>
  <a href="#">Back</a>
</form>
