<% board=@puzzle.display_board%>


<table id="main">

      <% (0..8).each do |square| %>
        <% if square % 3 == 0 %>
          <tr>
        <%end%>


        <td>
          <table id="inner">
            <% (0..8).each do |place| %>
              <% if place % 3 == 0 %>
                <tr>
              <% end %>
              <td>
              <% num = board.shift %>
              <% unless num == 0 %>
                <%= num  %>
              <% end %>
              </td>
              <% if place % 3 == 2 %>
                </tr>
              <% end %>
        
            <% end %>
          </table>
        </td>

        <% if square % 3 == 2 %>
          </tr>
        <%end%>
      <% end %>

  </table>


