<% provide(:title, "Original") %>
<div id="content">
<h1> <%= header("Original") %> </h1>
<%= render :partial => 'displayboard', :locals => { :from_hash => "original" } %>
</div>
<%= render :partial => "puzzle_menu" %>