<%# provide(:title, "New") %>
<div id="content">
<h1> <%#= header("New") %> </h1>
<%#= render :partial => 'displayboard', :locals => {:edit_form => true , :board => @puzzle.blank_board} %>
<p>
<%#= link_to "<< All Puzzles", puzzles_path %>
</p>
</div>
