<% provide(:title, "View") %>

<div id="content">
<h1> <%= header("View") %> </h1>

<%= render :partial => 'displayboard', :locals => { :board => @puzzle.board} %>
</div>
<%= render :partial => "puzzle_menu" %>