<% provide(:title, "Solve") %>

<div id="content">
<h1> <%= header("Solve") %> </h1>
<%= render :partial => 'displayboard', :locals => {:solve_form => true , :board => @puzzle.board} %>
</div>
<%= render :partial => "puzzle_menu" %>